Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
build/
.cache

_deps
Testing

tests/js/qjs
tests/**/*.i
tests/**/*.bin
tests/**/*.trie
tests/**/*.yas
tests/**/node_modules


benchmark/**/*.bin
benchmark/**/*.trie
benchmark/**/*.yas

thirdparty
src/types/others

compile_commands.json

.vscode
.editorconfig
.cache

requirement.md

# visual studio files
*.vcxproj
*.vcxproj.filters
*.sln
