Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
build/
.cache

lib
_deps
Testing

tests/js/qjs
tests/**/*.i
tests/**/*.bin
tests/**/*.trie
tests/**/*.yas
tests/**/node_modules

thirdparty
src/types/others

compile_commands.json

.vscode
.editorconfig

requirement.md

# visual studio files
*.vcxproj
*.vcxproj.filters
*.sln
