Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
build/

lib
_deps
Testing

tests/qjs/js/qjs
tests/qjs/js/qjsc
tests/**/*.i
tests/**/*.bin
tests/**/*.trie

thirdparty
src/types/others

compile_commands.json

.vscode
.editorconfig

requirement.md
