[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "thirdparty/yas"]
	path = thirdparty/yas
	url = https://github.com/niXman/yas.git
